{% extends "base.html.twig" %}

{% block formulaire %}
    <div class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" id="addbar" role="tablist">
        <div class="container">
            <a href="http://localhost:8000/" class="btn btn-success" id="retour">Retour</a>
            <h2 id="titleadd">Ajouter un fichier</h2>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 p-4" id="formdiv">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
