{% extends "base.html.twig" %}

{% block content %}
    <div class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" id="addbar" role="tablist">
        <div class="container">
            <div class="row">
                <div id="backdiv" class="col-sm-offset-2">
                    <a href="{{ path('home') }}" class="btn btn-success" id="retour">Retour</a>
                </div>
            </div>
            <h2 id="titleadd">Ajouter un fichier</h2>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2" id="formdiv">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}