



{% extends 'base.html.twig.' %}


{% block content %}

 <div class="container">
     <div class="row">
         <div class="col-d-6">
             <img src="<img src="{{ qr_code_path('img/billy/a.jpg') }}" />

         </div>
     </div>

 </div>

{% endblock %}
