
<p class="label"><label for="_auth_code">auth_code google:</label></p>

<img id="imageQRcode" src="{{ qrCode }}" alt="QR Code" name="imageQRcode"/>
<form class="form" action="/2fa_check" method="post">
    <p class="widget"><input id="_auth_code" type="text" autocomplete="off" name="_auth_code" autofocus /></p>
    <p class="submit"><input type="submit" value="login" /></p>
</form>

<p class="cancel"><a href="/deconnexion.html">cancel</a></p>
