{% extends "base.html.twig" %}

{% block content %}
    {% include 'components/_nav.html.twig' %}
    {% include 'components/_params.html.twig' %}

    <div class="section section-features">
        <div class="container">

            <div class="row">
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

            <h2 class="header-text text-center">Vos documents</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-portfolio"></i>
                        </div>
                        <div class="text">
                            <p>All appointments sync with your Google calendar so your availability is always up to
                                date. See your schedule at a glance from any device.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-portfolio"></i>
                        </div>
                        <p>Automatic text and email reminders make sure customers always remember their upcoming
                            appointments.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-portfolio"></i>
                        </div>
                        <p>Take payments and run your business on the go, in your store and then see how it all adds up
                            with analytics.</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/CARDS DOCS-->


    <!--CARDS FORMULES-->
    <div class="section section-features">
        <div class="container">
            <h2 id="formules" class="header-text text-center">Formules</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-magic-wand"></i>
                        </div>
                        <div class="text">
                            <h3>Gratuit</h3>
                            <h3>0€ <span>/mois</span></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magnam, consequatur sint
                                officiis. Blanditiis numquam officia nobis id iure sed doloribus, adipisci, maiores
                                harum totam ratione ad nostrum ipsum iste?</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-pendrive"></i>
                        </div>
                        <h3>Plus</h3>
                        <h3>5.50€ <span>/mois</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione tempora vero nemo placeat
                            fuga, vitae pariatur dolorum ab! Doloribus qui autem fugiat voluptate tempore, eaque
                            perferendis quibusdam tempora, quis arc</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-blue">
                        <div class="icon">
                            <i class="pe-7s-server"></i>
                        </div>
                        <h3>Pro</h3>
                        <h3>15.90€ <span>/mois</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae in libero voluptatibus ut,
                            eaque provident blanditiis aut impedit modi quos laboriosam repellat iste quia tenetur
                            sapiente. Quasi expedita, exercitationem a!</p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--/CARDS FORMULES-->
    {% include 'components/_footer.html.twig' %}

{% endblock %}
