
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor
###< symfony/framework-bundle ###
.idea/billydocs.iml
.idea/php.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/deployment.xml
.idea/billydocs.iml
.idea/deployment.xml
.idea/billydocs.iml
.env
