<<<<<<< Updated upstream
h3{color:white; display:block; margin:auto;}
=======
#titleadd{display:block; margin:auto; margin-bottom: 30px; margin-top: 30px; padding-top: 0px;}
.modal-open {
    overflow:hidden;
    overflow-y:scroll;
    padding-right:0 !important;
}

#form_submit:hover{background-color:#00a3e3 !important; border-color: #00a3e3 !important; color: #ffffff !important;}
#form_submit{background-color:#ffffff !important; border-color: #a676ff !important; color:#a676ff !important;}
#retour:hover {background-color:#00a3e3 !important; border-color: #00a3e3 !important; color: #ffffff !important;}
#retour {background-color:#ffffff !important; border-color: #a676ff !important; color:#a676ff !important;}

#formdiv > form {
    padding: 2rem;
}

#addbar {margin-top: 4%; margin-bottom: 2%; border:none;}
>>>>>>> Stashed changes
