{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block content %}
    <div class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" id="" role="tablist">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 p-4" id="">
                    <h2 id="">Modifier mon profil</h2>
                    {{ form(form) }}
                    <a href="{{ path('home') }}" class="btn btn-success" id="retour">Retour</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
