{% extends "base.html.twig" %}


{% block title %}
    Modification mot depasse
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block content %}
    {#    {% include '_nav.html.twig' ignore missing only %}#}

<div  id=""   class="container">
    <div class="row">
        <div class="col-8 mx-auto">
            <h3 class="my-4 text-center">
                Modifier mon mot de passe
            </h3>
            {{ form(form) }}

{#            <a href="http://localhost:8000/updatemdp" class="switch">#}
{#                <button id="boutonprofil" type="button" class="btn btn-outline-primary">Modifier mon mot de passe#}
{#                </button>#}
{#            </a>#}
            <a href="http://localhost:8000/" class="switch">
                <button id="boutonprofil" type="button" class="btn btn-outline-primary">Retour
                </button>
            </a>

        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}