<!--FOOTER-->
<footer class="footer">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="contact.html">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; 2019 <a href="inscription.html">BillyDocs</a>
        </div>
    </div>
</footer> <!--/FOOTER-->