<!--FOOTER-->
<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#" id="footer-contact">
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy; 2019 <a href="#">BillyDocs</a>
        </div>
    </div>
</footer> <!--/FOOTER-->