
<div class="fixed-plugin">
    <div class="dropdown toggle">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            {#<li class="header-title">{% block title %}Test affichage{% endblock %}</li> #}
{#            <li class="active">#}
{#                <a href="#" class="switch">#}
{#                    <p class="">Changer mon nom</p>#}
{#                </a>#}
{#            </li>#}

            <h4> Mes parametres</h4>

            <li class="">
                <a href="http://localhost:8000/profil" class="switch">
                    <button id="boutonformule" type="button" class="btn btn-outline-primary">Modifier mon profil
                    </button>
                </a>
            </li>

            <li class="">
                <a href="http://localhost:8000/updatemdp" class="switch">
                    <button id="boutonformule" type="button" class="btn btn-outline-primary">Modifier mon mot de passe
                    </button>
                </a>
            </li>


        </ul>
    </div>
</div> <!--/PARAMETRE-->
