<div class="fixed-plugin">
    <div class="dropdown toggle">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <i id="usericon" class="pe-7s-user fa-5x"></i>
            <li class="header-title">Mon Compte</li>

            <li class="active">
                <a href="#" class="switch">
                    <p class="">Changer mon nom</p>
                </a>
            </li>
            <li class="active">
                <a href="#" class="switch">
                    <p class="">Changer mon mot de passe</p>
                </a>
            </li>
            <li class="active">
                <a href="#" class="switch">
                    <p class="">Changer mon adresse email</p>
                </a>
            </li>
            <li class="">
                <a href="#formules" class="switch">
                    <button id="boutonformule" type="button" class="btn btn-outline-primary">Voir les formules €
                    </button>
                </a>
            </li>
        </ul>
    </div>
</div> <!--/PARAMETRE-->