{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div id="blocaccueil"   class="col-12">
                <div id="blocimage"id="blocimage" class="col-md-8">
                    <img id="image" src="{{ asset('assets/img/billy/billydoc-08.png') }}" alt="imagebilly">
                </div>
                <div id="blocinscription" class="col-md-4">
                    <h2 id="titreaccueil" class="my-4 text-center">
                        BILLYDOCS
                    </h2>
                    <P>Bienvenue sur le site de gestion de données personnelles</P>
                    {{ form(form) }}
                    <a href="http://localhost:8000/connexion.html">
                        <button id="buttonconnexion" type="button" class="btn btn-outline-primary">Connexion</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
